---
import constitution_of_japan from '../assets/images/constitution_of_japan.jpg'

export interface Props {
  id: string
  title: string
  body: string
  href: string
}

const { id, href, title, body } = Astro.props
---

<li>
  <a href={href} class="flex flex-col gap-4 bg-white p-4 shadow-2xl">
    <img
      id={`thumbnail-${id}`}
      src={constitution_of_japan}
      alt=""
      class="thumbnail object-cover aspect-video"
    />
    <h2 class="text-xl">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="truncate text-gray-500">
      {body}
    </p>
  </a>
</li>
