---
export interface Props {
  id: string
  title: string
  body: string
  href: string
  image: string
}

const { id, href, title, body, image } = Astro.props
---

<li>
  <a href={href} class="flex flex-col gap-4 bg-gray-800 p-4 shadow-2xl">
    <img
      id={`thumbnail-${id}`}
      src={`/images/${image}`}
      alt=""
      class="thumbnail object-cover aspect-video"
    />
    <div>
      <h2 class="text-xl">
        {title}
      </h2>
      <div class="w-full">
        <p class="truncate opacity-60">
          {body}
        </p>
      </div>
    </div>
  </a>
</li>
